# CLASE 3

## Preparando tus datos con Pandas  (II)

In [ ]:
#Instalamos paquetes
import numpy as np
import pandas as pd

### DataFrame

Un DataFrame es una extensión de una Serie. Es una estructura de datos bidimensional para almacenar datos. Mientras que la Serie contiene dos componentes: un conjunto de valores y un índice de etiquetas adjuntas a estos valores - el DataFrame contiene tres componentes -la columna, el índice y el NumPy array que contiene los valores

### Métodos para crear un DataFrame

**Combinando Series**

In [ ]:
edad_estudiantes =pd.Series([21,24,19]) #series 1 / primera fila

In [ ]:
edad_profesores =pd.Series([58,50,45]) #series 2 / segunda fila

In [ ]:
edad_asistentes =pd.Series([25,27,20])

In [ ]:
edad_final =pd.DataFrame([edad_estudiantes, edad_profesores, edad_asistentes]) #DataFrame

In [ ]:
edad_final

Aquí, estamos definiendo tres Series y luego usamos la función pd.DataFrame
para crear un nuevo DataFrame llamado "edad_final"

Para dar nombres a las columnas e índices, esto se realiza en un paso separado

In [ ]:
edad_final.columns=['clase 1','clase 2', 'clase 3'] #naming columns
edad_final.index=['estudiantes','profesores','asistentes']
edad_final

**Desde un diccionario**

Se pasa un diccionario como argumento a la función pd.DataFrame.

Las llaves conformarán los nombres de las columnas y las listas conformorán los valores de cada columna.

In [ ]:
edad_final=pd.DataFrame({'clase 1':[21,24,19], 'clase 2':[24,50,27], 'clase 3':[19,20,45]})

In [ ]:
edad_final

Otra forma de crear una DataFrame a partir de diccionarios:

In [ ]:
alumno_1 = pd.Series({'Nombre': 'Esteban',
                      'Edad': 22,
                      'Profesión': 'Publicista'})

alumno_2 = pd.Series({'Nombre': 'Carmen',
                      'Edad': 24,
                      'Profesión': 'Publicista'})

alumno_3 = pd.Series({'Nombre': 'Daniela',
                      'Edad': 28,
                      'Profesión': 'Ingeniera Química'})

In [ ]:
df = pd.DataFrame([alumno_1, alumno_2, alumno_3])
df

In [ ]:
df = pd.DataFrame([alumno_1, alumno_2, alumno_3], index=['Clase 1', 'Clase 1', 'Clase 2'])
df

**Desde un NumPy Array**

In [ ]:
np.arange(1,9)   #[start, stop)

In [ ]:
np.arange(1,9).reshape(2,4)

In [ ]:
numeros_df = pd.DataFrame(np.arange(1,9).reshape(2,4))
numeros_df

Aquí, creamos un NumPy array primero usando la función np.arange. Luego,
modificamos esta array en un DataFrame con dos filas y cuatro columnas

### Accediendo a los atributos y los valores en un DataFrame

In [ ]:
edad_final=pd.DataFrame({'clase 1':[21,24,19], 'clase 2':[24,50,27], 'clase 3':[19,20,45]})
edad_final

**Accediendo a las columnas e índices**

In [ ]:
edad_final.columns

In [ ]:
edad_final.index

**Accediendo a valores**

In [ ]:
edad_final.values

In [ ]:
edad_final["clase 1"].values

### Modificar objetos del DataFrame (I)

**Renombrando columnas**

Los nombres de las columnas se pueden cambiar utilizando el método *rename*. Un diccionario es pasado como argumento de este método. Las llaves de este diccionario son los nombres de las antiguas columnas y los valores son los nuevos nombres.

In [ ]:
edad_final=pd.DataFrame({'clase 1':[21,24,19], 'clase 2':[24,50,27], 'clase 3':[19,20,45]})
edad_final

In [ ]:
edad_final.rename(columns={'clase 1':'aula 1','clase 2':'aula 2','clase 3':'aula 3'})

In [ ]:
edad_final

La razón por la que usamos el parámetro inplace es para que los cambios se realicen en el mismo DataFrame.

In [ ]:
edad_final.rename(columns={'clase 1':'aula 1','clase 2':'aula 2','clase 3':'aula 3'}
                  ,inplace=True)

#edad_final = edad_final.rename(columns=columns={'clase 1':'aula 1','clase 2':'aula 2','clase 3':'aula 3'})  #el comando anterior realiza esto
edad_final

Otra forma de renombrar columnas:

In [ ]:
edad_final.columns=['salón 1','salón 2','salón 3']
edad_final

La desventaja con este método es que uno necesita recordar el orden de las columnas. Cuando usamos el método *rename*, usamos un diccionario donde sabíamos
qué nombres de columna estábamos cambiando.

**Reemplazando valores o observaciones en un DataFrame**

El método *replace* se puede utilizar para reemplazar valores en un DataFrame. Podemos usar de nuevo el formato de diccionario, con el par llave / valor que representa los valores nuevos y antiguos. Aquí nosotros reemplazamos el valor 24 con el valor 33.

In [ ]:
edad_final.replace({24:33})

In [ ]:
edad_final.replace({24:33,50:100})

### Modificar objetos del DataFrame: añadiendo una nueva columna (II)

In [ ]:
hogar_1 = pd.Series({'Jefe de hogar': 'Esteban',
                      'Edad jefe': 45,
                      'Número de hijos': 2})

hogar_2 = pd.Series({'Jefe de hogar': 'Rosa',
                      'Edad jefe': 30,
                      'Número de hijos': 0})

hogar_3 = pd.Series({'Jefe de hogar': 'José',
                      'Edad jefe': 65,
                      'Número de hijos': 4})

In [ ]:
df = pd.DataFrame([hogar_1, hogar_2, hogar_3], index=['Hogar 1', 'Hogar 2', 'Hogar 3'])
df

**Con el operador de indexación, [ ]**

Al mencionar el nombre de la columna como una string dentro del operador de indexación y asignándole valores, podemos agregar una columna.

In [ ]:
df['Nivel de educación']=['secundaria', 'primaria', 'superior']
df

**Utilizando el método *insert***

El método *insert* se puede utilizar para agregar una columna. Se necesitan tres argumentos para usar este método, mencionados a continuación:


*   El primer argumento es el índice donde desea insertar la nueva columna (en este caso, el índice es 2, lo que significa que la nueva columna se agrega como
tercera columna de nuestro DataFrame)

*   El segundo argumento es el nombre de la nueva columna que desea insertar.
("Sexo" en este ejemplo)

*   El tercer argumento es la lista que contiene los valores de la nueva columna ("H","M","H" en nuestro caso)

Los tres parámetros son obligatorios.

In [ ]:
df.insert(2,'Sexo',['H','M','H'])
df

**Utilizando el indexador loc**

En el ejemplo, todas las filas se seleccionan utilizando el operador ":" . Este operador va seguido del nombre de la columna que se va a insertar. Los valores que tendrá esta columna se encuentran en la lista.

In [ ]:
df.loc[:,"Internet"]=[1,0,1]
df

**Utilizando la función *concat***

Primero, la columna que se agregará ("pais" en este caso) se define como una serie.

In [ ]:
pais = pd.Series(["Perú","Argentina","Chile"],index=["Hogar 1", "Hogar 2", "Hogar 3"])
pais

Luego, se agrega la serie al DataFrame usando la función *pd.concat*. El eje debe mencionarse como "1", ya que los nuevos datos están siendo agregados a lo largo del eje de la columna.

In [ ]:
df =pd.concat([df,pais],axis=1)
df

In [ ]:
df = df.rename(columns={0:'País'})

In [ ]:
df

### Modificar objetos del DataFrame: añadiendo filas (III)

**Usando el método *append***

El parámetro "ignore_index = True" restablece el índice.

In [ ]:
df=df.append({'Jefe de hogar': 'Daniela' ,'Edad jefe': 24 ,'Sexo': 'F',
              'Número de hijos':1, 'Nivel de educación':'superior', 'Internet':1, 'País': 'Colombia' },ignore_index=True)
df

**Usando el método *pd.concat***

In [ ]:
new_row = pd.DataFrame([{'Jefe de hogar': 'Marcelo' ,'Edad jefe': 29 ,'Sexo': 'M',
              'Número de hijos':2, 'Nivel de educación':'secundaria', 'Internet':1 }])

In [ ]:
df = pd.concat([df,new_row], ignore_index=True)
df

### Modificar objetos del DataFrame: eliminando columnas y filas (IV)

**Elimando columnas**

In [ ]:
#del function
del df['Internet']
df

Tenga en cuenta que la eliminación se produce "inplace", es decir, en el DataFrame original.

In [ ]:
#usando el método pop 
df.pop('Nivel de educación')

In [ ]:
df

El método pop elimina una columna "inplace" y devuelve la columna eliminada como una serie.

In [ ]:
#Usando el método drop
df.drop(['Sexo'],axis=1,inplace=True)  #axis 1=columna
df

Dado que el método *drop* elimina filas (axis = 0) de forma predeterminada,
necesitamos especificar el valor del axis como "1" si queremos eliminar una columna.

**Eliminando filas**

In [ ]:
#Usando una Boolean selection
df[~(df['Edad jefe'].values<35)]

Usamos el operador NOT (~) para eliminar las filas que no queremos.

In [ ]:
df

In [ ]:
#Usando el método drop
df.drop([1,2])  #axis = 0 fila (predeterminado)

## DataFrames tras importar datos

¿Cómo montar el Google Drive para ser usado en Google Colab?
https://colab.research.google.com/notebooks/io.ipynb

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os

In [ ]:
#Seteamos la ruta en la que se encuentran nuestros datos a usar

os.chdir('/content/drive/MyDrive/Q-LAB/Taller Python/Datos')

Luego de colocar nuestra ruta de trabajo, podemo comenzar a importar bases de datos en distintos formatos.

Trabajaremos con la Encuesta Nacional sobre percepciones de la corrupción de Proética. Puede descargar las bases de datos para la encuesta del 2019 en este enlace: https://www.proetica.org.pe/contenido/xi-encuesta-nacional-sobre-percepciones-de-la-corrupcion-en-el-peru-2019/

### Importando bases de datos con distintos formatos

**Importando un CSV**

In [ ]:
df = pd.read_csv('proetica_data.csv')

#df = pd.read_csv('/content/drive/MyDrive/Q-LAB/Taller Python/Datos/proetica_data.csv')

In [ ]:
df

In [ ]:
df.head()
#df.head(3)

In [ ]:
df.tail()

**Importando un Excel**

In [ ]:
df2= pd.read_excel('proetica_data.xlsx')

**Importando un DTA (archivo de Stata)**

In [ ]:
df3= pd.read_stata('proetica_data.dta')

**Importando un SAV (archivo de SPSS)**

Si no les corre directamente el comando pd.read_spss, primero, corran el siguiente comando:

In [ ]:
pip install pyreadstat

In [ ]:
df4= pd.read_spss('proetica_data.sav')
df4.head()

### Exploración de DataFrames

In [ ]:
df4.shape
#(filas,columnas)

In [ ]:
df4.dtypes #tipo de variables que hay

In [ ]:
df4['macrozona'].dtypes

In [ ]:
df4['SbjNum'].dtypes

In [ ]:
#Podemos extraer series de un DataFrame
pd.Series(df4['macrozona'],dtype="category")

In [ ]:
#Identificar la posición de una columna mediante su nombre
df.columns.get_loc('macrozona')

### Descriptivos de las variables

In [ ]:
df4.describe()

In [ ]:
df4.describe(include = [np.number])

In [ ]:
df4.describe(include = ['category'])

### Accediendo a partes específicas del DataFrame

In [ ]:
df4.head(3)

In [ ]:
df4.loc[0] #Nos da la primera fila

In [ ]:
df4.iloc[0][1] #La primera fila y la segunda columna del DataFrame