# CLASE 1

## Información sobre Python

**¿Qué es Python?**

Es lenguaje de programación de computadores que se usa a menudo para crear páginas web y software, automatizar tareas y realizar análisis de datos.

Su popularidad radica en lo siguiente:

*   Hay una gran cantidad de librerias con tipos de datos y funciones incorporadas que permiten facilitar la realización de tareas

*   La sencillez y velocidad con lo que se crean los programas

* Es gratuito

**¿Por qué aprender Python?**


*   Es extremadamente versátil con múltiples usos: Minería de Datos, Ciencia de Datos, Inteligencia Aritificial, Machine Learning, entre otros.
*  Es fácil de leer, escribir y aprender. La sintaxis es simple.
* Python tiene una gran comunidad de soporte. 
* Paquetes de uso abierto/libre.

## Formas de crear un notebook en Google Colab



1.   Ir directamente al siguiente link: https://colab.research.google.com/notebooks/intro.ipynb#recent=true
2.   En una carpeta de drive, se puede crear un notebook

## Conociendo el entorno Google Colab

El ambiente Google Colab nos permite escribir comandos de ***Python*** y ejecutarlos en nuestro navegador:

*   Sin ninguna configuración previa
*   Acceso gratuito a GPUs
*   Facil de compartir

Para mayor información, puede revisar el siguiente link:
*   [¿Qué es Google Colab?](https://colab.research.google.com/notebooks/intro.ipynb)

## Conceptos básicos de Python

**Impresión/Printing**

La función print () toma cualquier número de parámetros y los imprime en una línea de texto.

In [ ]:
print("Hola, Mundo")

Hola, Mundo

In [ ]:
print('''Hoy comenzó la primera clase del taller de Python.
 Esta clase es introductoria.
 Sin embargo, será de gran utilidad para las siguientes.''')

Hoy comenzó la primera clase del taller de Python.
 Esta clase es introductoria.
 Sin embargo, será de gran utilidad para las siguientes.

In [ ]:
print("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo")

Lunes Martes Miércoles Jueves Viernes Sábado Domingo

In [ ]:
print("Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo",sep='\n')

Lunes
Martes
Miércoles
Jueves
Viernes
Sábado
Domingo

**Operadores aritméticos**

Funciona como una calculadora. Toma valores, realiza una operación y arroja el resultado

Los siguientes operadores aritméticos están disponibles en Python:


*   +(suma)
*   -(resta)
* *(multiplicación)
* /(división)
* //(cociente)
* %(módulo o resto)
* **(exponencial)

In [ ]:
#suma
5+41

46

In [ ]:
#resta
12-4

8

In [ ]:
#multiplicación
12*4

48

In [ ]:
#división
25/5

5.0

In [ ]:
#exponencial
2**4

16

In [ ]:
#combinando operaciones a partir del uso de objetos
a = 5+41  
b = 2**4

a*b

736

In [ ]:
(5+41)*(2**4)

736

**Operadores de comparación**

Estos operadores comparan dos valores y los evalúan como verdaderos o
falsos. Los siguientes operadores de comparación son compatibles con Python:

* (>): mayor que 
* (<): menor que
* (<=) : menor o igual que 
* (>=): mayor o igual que
* (==): igualdad. 
Tenga en cuenta que esto es diferente del
operador de asignación (=)
* (!=): no igual que/ diferente de

In [ ]:
#mayor que
2>1

True

In [ ]:
#menor que 
10<20

True

In [ ]:
#menor igual que 
10<=10

True

In [ ]:
#mayor igual que 
20>=10

True

In [ ]:
#igualdad 
30==30

True



> El operador de comparación (==) es distinto al de asignación (=)

In [ ]:
#30=30

In [ ]:
a = 30
Nombre = "Mariano"

In [ ]:
print(a)
print(Nombre)

30
Mariano

In [ ]:
#no igual que 
40!=30

True

**Operadores lógicos (o booleanos)**

Son similares a los operadores de comparación, ya que estos también evaluán si un valor es verdadero o falso. Estos operadores operan sobre variables booleanas o expresiones. Los siguientes operadores lógicos son compatibles con Python:

* *operador "and"*: Este operador evalúa como Verdadero la expresión solo si todas sus subexpresiones son Verdaderas. De lo contrario, si alguno de ellos es Falso, la expresión se evalúa como Falso

In [ ]:
print( (3>2) and (2>4) )     # V  V = V
print( (3==3) and (3>2) )    # V  F = F

False
True

* *operador "or"*: Este operador evalúa la expresión como Verdadero si es que alguna de sus subexpresiones es Verdadera. La expresión se evalúa como Falso si todas sus subexpresiones se evalúan como
Falso.

In [ ]:
(5>2) or (2>4)    # V  F = V

True

In [ ]:
Alumno = "Daniel"

In [ ]:
(50/10 != 5) or ("Daniel" == Alumno)    #F V = V

True

* *operador "not"*: Este operador evalúa la expresión como Verdadero si es que la expresión es Falso, y viceversa.

In [ ]:
not(1>2)

True

## Variables y tipos de datos simples

### Creación de variables

Cada variable está conectada a un valor, que es la información asociada con esa variable.

Cuando usa variables en Python, debe cumplir con algunas reglas
y directrices. Es importante tener en cuenta las siguientes reglas de variables:



*   Los nombres de las variables solo pueden contener letras, números y guiones bajos. Pueden comenzar con una letra o un guión bajo, pero no con un número.
*  No se permiten espacios en los nombres de las variables, pero se pueden usar guiones bajos
para separar palabras en nombres de variables. Por ejemplo, mensaje_saludo.
* Recomendación: Los nombres de las variables deben ser breves, pero descriptivos.

In [ ]:
mensaje = "Hola, mundo"   
print(mensaje)

Hola, mundo

In [ ]:
promedio1 = (14+16+15+19)/4
print(promedio1)

16.0

In [ ]:
promedio2 = (12+20+11+15)/4
print(promedio2)

14.5

**Operaciones utilizando variables**

In [ ]:
promedio_final = (promedio1 + promedio2)/2
print(promedio_final)

15.25

### Strings

Es una serie de caracteres. Todo aquello que esté en comillas es considerado string en Python. Se pueden utilizar comillas simples o dobles alrededor de sus string.

In [ ]:
"Esto es un string."

'Esto es un string.'

In [ ]:
'Esto también es un string.'

'Esto también es un string.'

In [ ]:
nombre = "maTeo pereZ"
print(nombre)

maTeo pereZ

**Cambiar mayúsculas y minúsculas en un string**

In [ ]:
print(nombre.title())

Mateo Perez

In [ ]:
print(nombre.upper())

MATEO PEREZ

In [ ]:
print(nombre.lower())

mateo perez

**Usando variables en strings**

In [ ]:
primer_nombre = "mateo"
apellido = "perez"


> Para insertar el valor de una variable en un string, coloque la letra f inmediatamente antes de las comillas de apertura

In [ ]:
nombre_completo = f"{primer_nombre} {apellido} Rodriguez"   #f-strings
print(nombre_completo)

mateo perez Rodriguez

In [ ]:
saludo1 = f"Hola, {nombre_completo}"   #f-strings
print(saludo1)

Hola, mateo perez Rodriguez

In [ ]:
saludo2 = f"Hola, {nombre_completo.title()}"   #f-strings
print(saludo2)

Hola, Mateo Perez Rodriguez

### Integers

Son números sin decimales.

In [ ]:
2 + 3*4

14

In [ ]:
10000*2

20000

In [ ]:
x, y, z = 10, 50, 63  #asignación múltiple de variables

In [ ]:
print(x)
print(y)
print(z)

10
50
63

### Floats

Son números con decimales.

In [ ]:
2*0.6

1.2

Tenga en cuenta que a veces puede obtener un número arbitrario en algún decimal en su respuesta. Python intenta encontrar una manera de representar el resultado con la mayor precisión posible, que a veces es difícil dada la forma en que las computadoras tienen que representar números internamente.

In [ ]:
print(0.2+0.1)    #Ojo con esto

print(3*0.1)

0.30000000000000004
0.30000000000000004

## Listas

Una lista es una colección de elementos en un orden particular. Puede poner lo que quiera en una lista y los elementos de su lista no tienen que estar relacionados de ninguna manera en particular.

En Python, los corchetes ([ ]) indican una lista y los elementos individuales
en la lista están separados por comas.

In [ ]:
frutas = ['mAnzAna', 'pera', 'uva', 'sandía']
print(frutas)

['mAnzAna', 'pera', 'uva', 'sandía']

In [ ]:
lista1 = ['a', 2, 'sandia', 2+3, 0.5, frutas]
print(lista1)

['a', 2, 'sandia', 5, 0.5, ['mAnzAna', 'pera', 'uva', 'sandía']]

### Acceder a elementos de una lista

Las listas son colecciones ordenadas, por lo que puedes acceder a cualquier elemento de una lista indicandole a Python la posición, o índice, del elemento deseado.

Python considera que el primer elemento de una lista está en la posición 0, no en la posición 1.

In [ ]:
print(frutas[0])

mAnzAna

In [ ]:
print( f"Mi fruta favorita es la {frutas[0].lower()}")

Mi fruta favorita es la manzana

El segundo elemento de una lista tiene un índice de 1. Con este sistema de conteo, puedes obtener cualquier elemento que desees de una lista restando uno de
su posición en la lista.

In [ ]:
print(frutas[1])

pera

Python tiene una sintaxis especial para acceder al último elemento de una lista. Al pedir el elemento en el índice -1, Python siempre devuelve el último elemento de la lista.

In [ ]:
print(frutas[-1])

sandía

### Modificando elementos de una lista

Para cambiar un elemento, use el nombre de la lista seguida por el índice del elemento que desea cambiar, y luego proporcione el nuevo valor que desea que tenga.

In [ ]:
frutas = ['manzana', 'pera', 'uva', 'sandía']
print(frutas)

['manzana', 'pera', 'uva', 'sandía']

In [ ]:
#modificamos el primer elemento de la lista
frutas[0] = 'fresa'            
print(frutas)

['fresa', 'pera', 'uva', 'sandía']

In [ ]:
#modificamos el último elemento de la lista
frutas[-1] = 'arándanos'            
print(frutas)

['fresa', 'pera', 'uva', 'arándanos']

### Añadiendo elementos a la lista

**Agregando elementos al final de la lista**

La forma más sencilla de añadir un nuevo elemento a la lista es *append* el item en la lista.

In [ ]:
frutas.append('mango')         
print(frutas)

['fresa', 'pera', 'uva', 'arándanos', 'mango', 'mango']

In [ ]:
#añadimos elementos a una lista vacía
nombres = []                   
nombres.append('Carlos')
nombres.append('Luisa')
nombres.append('Alexander')
print(nombres)

['Carlos', 'Luisa', 'Alexander']

**Insertando elementos en una lista**

Puede agregar un nuevo elemento en cualquier posición de su lista usando el comando insert ()

In [ ]:
#Insertando elemento en la primera posición de la lista
nombres.insert(0, 'Claudia')    
print(nombres)

['Claudia', 'Carlos', 'Luisa', 'Alexander']

In [ ]:
#Insertando elemento en la tercera posición de la lista
nombres.insert(2, 'Daniel')    
print(nombres)

['Claudia', 'Carlos', 'Daniel', 'Luisa', 'Alexander']

### Eliminando elementos de una lista

**Eliminando un elemento por su posición exacta**

Si conoce la posición del elemento que desea eliminar de una lista, puede
use la declaración *del.*

In [ ]:
frutas = ['manzana', 'pera', 'uva', 'sandía']

In [ ]:
del frutas[0]                  
print(frutas)

['pera', 'uva', 'sandía']

**Eliminado un elemento mediando el método pop()**

El método pop () elimina el último elemento de una lista, pero le permite trabajar con ese elemento después de quitarlo

In [ ]:
cursos = ['Matemáticas', 'Estadística', 'Programación']

In [ ]:
popped_cursos = cursos.pop()

In [ ]:
print(cursos)
print(popped_cursos)

['Matemáticas', 'Estadística']
Programación

**Usando el método pop() para cualquier posición en la lista**

Puede usar pop () para eliminar un elemento de cualquier posición en una lista al incluir el índice del elemento que desea eliminar entre paréntesis

In [ ]:
cosas = ['Botella', 'Lápiz', 'Celular']

In [ ]:
primera_cosa = cosas.pop(0)

In [ ]:
print(f"La primera cosa que encontré en mi maleta es una {primera_cosa.lower()}.")

La primera cosa que encontré en mi maleta es una lápiz.

**Eliminar un elemento por su valor**

Si solo conoce el valor del artículo que desea eliminar, puede usar el método remove ()

In [ ]:
nombres = ['Sandra', 'Jordan', 'Daniel', 'Samanta']

In [ ]:
nombres.remove('Sandra')

In [ ]:
print(nombres)

['Jordan', 'Daniel', 'Samanta']

### Organizando una lista

**Ordenando una lista de forma permanente**

La lista se ordena en forma alfabética y no puede ser revertida a la lista orginal

In [ ]:
carros = ['bmw', 'audi', 'toyota', 'subaru']              
print(carros)

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
carros.sort()
print(carros)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
#ordenando en orden alfabético inverso
carros.sort(reverse=True)
print(carros)

['toyota', 'subaru', 'bmw', 'audi']

**Ordenando una lista de forma temporal**

Para mantener el orden original de una lista, pero presentarla ordenadamente puede utilizar la función sorted ().

In [ ]:
alumnos = ['Ana', 'Zenon', 'Daniel','Camila', 'Camilo']

In [ ]:
print("Aquí está la lista original:")
print(alumnos)

Aquí está la lista original:
['Ana', 'Zenon', 'Daniel', 'Camila', 'Camilo']

In [ ]:
print("Aquí está la lista ordenada:")
print(sorted(alumnos))

Aquí está la lista ordenada:
['Ana', 'Camila', 'Camilo', 'Daniel', 'Zenon']

In [ ]:
print("Aquí está la lista original de nuevo:")
print(alumnos)

Aquí está la lista original de nuevo:
['Ana', 'Zenon', 'Daniel', 'Camila', 'Camilo']

In [ ]:
len(alumnos)      #Hallando el largo (length) de la lista

5

## Diccionarios

Un diccionario en Python es una colección de pares llave-valor. Cada llave está conectada a un valor. El valor de una llave puede ser un número, una cadena, una lista o incluso otro diccionario. De hecho, puede utilizar cualquier objeto que pueda crear en Python como valor en un diccionario.

In [ ]:
#Un diccionario simple
manzana = {'color': 'rojo', 'peso': 190}

**Accediendo a valores en un dictionario**

Para obtener el valor asociado con una llave, proporcione el nombre del diccionario y luego coloque la llave dentro de un par de corchetes.

In [ ]:
print(manzana['color'])

rojo

In [ ]:
print(manzana['peso'])

190

In [ ]:
peso_manzana = manzana['peso']

print(f"\nLa manzana pesa alrededor de {peso_manzana} gramos.")

La manzana pesa alrededor de 190 gramos.

**Añadiendo nuevos pares de llaves-valores**

Los diccionarios son estructuras dinámicas y puede agregar nuevos pares llave-valor a un diccionario en cualquier momento.

In [ ]:
persona1 = {'edad': 24 , 'talla': 175, 'sexo': 'mujer'}
print(persona1)

{'edad': 24, 'talla': 175, 'sexo': 'mujer'}

In [ ]:
persona1['carrera'] = 'Estadística'
persona1['ingreso'] = 3500
print(persona1)

{'edad': 24, 'talla': 175, 'sexo': 'mujer', 'carrera': 'Estadística', 'ingreso': 3500}

**Comenzando con un dictionario vacío**

Para comenzar a llenar un diccionario vacío, defina un diccionario con un conjunto vacío de llaves y luego agregue cada llave-valor en su propia línea.

In [ ]:
persona2 = {}

In [ ]:
persona2['carrera'] = 'Comunicaciones'
persona2['ingreso'] = 3500
print(persona2)

{'carrera': 'Comunicaciones', 'ingreso': 3500}

**Modificando valores en un diccionario**

Para modificar un valor en un diccionario, ingrese el nombre del diccionario con la llave entre corchetes y luego el nuevo valor que desea asociar con esa llave.

In [ ]:
persona1 = {'edad': 24 , 'talla': 175, 'sexo': 'mujer'}
print(persona1)

{'edad': 24, 'talla': 175, 'sexo': 'mujer'}

In [ ]:
persona1['edad']=30
print(persona1)

{'edad': 30, 'talla': 175, 'sexo': 'mujer'}

**Removiendo un par llave-valor**

Cuando ya no necesite un dato almacenado en un diccionario, puede usar el comando *del* para eliminar por completo un par llave-valor.

In [ ]:
persona1 = {'edad': 24 , 'talla': 175, 'sexo': 'mujer'}

In [ ]:
del persona1['talla']
print(persona1)

{'edad': 24, 'sexo': 'mujer'}